table.imagetable {
    font-family: verdana,arial,sans-serif;
    font-size: 11px;
    color: #333333;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
    margin-top:10px;
    margin-bottom:15px;
}

    table.imagetable th {
        background: #E0E0E0;
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #999999;
    }

    table.imagetable td {
        background: #ffffff;
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #999999;
    }
